$d_c_1: #6046B7;
$d_c_2: #4A5592;
$d_c_2: #F2F7FF;

$t_c_1: #282F3F;
$t_c_2: #3D4352;
$t_c_3: #727781;
$t_c_4: #9B9B9B;

$back_c_1: #FFFFFF;
$back_c_2: #FBFBFB;
$back_c_3: #F9F4ED;

$menu_back: $back_c_2;

$br_c_1: #DDDDDD;
$br_c_2: #979797;

$body_txt_font: 'Rubik', sans-serif;

//Colors
$fancy_color: #ea65a2;
$info_color: #31b0d5;

$bran_c_black: #273951;
$bran_c_d_blue: #6248b8;
$bran_c_dd_blue: #4a4680;
$bran_c_grey: #b1b5c1;
$bran_c_grey_dark: #aabcc9;
$bran_c_blue: #e5eef8;
$bran_c_blue_lighter: #e7e9ed;
$bran_c_blue_light: #a9cee8;
$bran_c_blue_dark: #3188d1;
$bran_c_green: #45cdab;
$bran_c_green_dark: #166F6D;
$bran_c_red: #e48695;
$bran_c_red_dark: #d17281;
$bran_c_orange: rgba(255, 188, 1, 0.9);
$c_grey_light: #F3F4F8;