.home_pg {
  height: 100vh;
  display: table;
  background: url('/img/coming-soon-cover.jpg') no-repeat center center;
  background-size: cover;
  width: 100%;
  .main_wrap {
    display: table-cell;
    vertical-align: middle;
  }
  h1 {
    font-size: 18px;
  }
  .coming_soon_content_sec {
    background: rgba(255, 255, 255, 0.96);
    padding: 20px;
    border-radius: 6px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.4);
  }
}
